
.button2 {
	background-color: none;
	color: none;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	z-index: 1;
}

.button3 {
	background: transparent;
    border: none !important;
	cursor: pointer;
	padding: 0px;
}

.e1_141 { 
	overflow:hidden;
	height: 100%;
	width: 100%;
	margin: 0;
}
.e1_141 { 
	background-color:rgba(255, 255, 255, 1);
	position:absolute;
	left:0%;
	right:0%;
	top:0%;
	bottom:0%;
}
.e1_222 { 
	width:100%;
	height:5%;
	position:absolute;
	left:0%;
	bottom:0%;
}
.e1_223 { 
	background-color:rgba(62.92744293808937, 116.5056699514389, 165.96249371767044, 1);
	width:100%;
	height:100%;
	position:absolute;
	
	left:0%;
	bottom:0%;
}
.e1_225 { 
	color:rgba(0, 0, 0, 1);
	width:100%;
	height:100%;
	position:absolute;
	left:45%;
	top:25%;
	font-family:Inter;
	text-align:left;
	font-size:100%;
	letter-spacing:0;
}
.e2_6 { 
	width:15%;
	height:70%;
	position:absolute;
	left:0%;
	top:25%;
}
.e1_220 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:100%;
	height:100%;
	position:absolute;
	left:0%;
	top:0%;
}
.e2_4 { 
	width:90%;
	height:8%;
	position:absolute;
	left:5%;
	top:22%;
	background-color:rgba(255, 255, 255, 1);
	border-top-left-radius:60px;
	border-top-right-radius:60px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
	font-family:Inter;
	text-align:left;
	font-size:100%;
	padding-left: 8%;
}
/* .e1_265 { 
	background-color:rgba(255, 255, 255, 1);
	width:100%;
	height:100%;
	position:absolute;
	left:0%;
	top:0%;
	border-top-left-radius:60px;
	border-top-right-radius:60px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
}
.e1_266 { 
	color:rgba(0, 0, 0, 1);
	width:100%;
	height:100%;
	position:absolute;
	left:10%;
	top:25%;
	font-family:Inter;
	text-align:left;
	font-size:120%;
	letter-spacing:0;
} */
.e2_5 { 
	width:90%;
	height:8%;
	position:absolute;
	left:5%;
	top:12%;
	background-color:rgba(255, 255, 255, 1);
	border-top-left-radius:60px;
	border-top-right-radius:60px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
	font-family:Inter;
	text-align:left;
	font-size:100%;
	padding-left: 8%;
}
/* .e1_267 { 
	background-color:rgba(255, 255, 255, 1);
	width:100%;
	height:100%;
	position:absolute;
	left:0%;
	top:0%;
	border-top-left-radius:60px;
	border-top-right-radius:60px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
}
.e1_268 { 
	color:rgba(0, 0, 0, 1);
	width:100%;
	height:100%;
	position:absolute;
	left:10%;
	top:25%;
	font-family:Inter;
	text-align:left;
	font-size:120%;
	letter-spacing:0;
} */
.e2_31 { 
	width:90%;
	height:8%;
	position:absolute;
	left:5%;
	top:32%;
	background-color:rgba(255, 255, 255, 1);
	border-top-left-radius:60px;
	border-top-right-radius:60px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
	font-family:Inter;
	text-align:left;
	font-size:100%;
	padding-left: 8%;
}
/* .e1_2631 { 
	background-color:rgba(255, 255, 255, 1);
	width:100%;
	height:100%;
	position:absolute;
	left:0%;
	top:0%;
	border-top-left-radius:60px;
	border-top-right-radius:60px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
}
.e1_2641 { 
	color:rgba(0, 0, 0, 1);
	width:100%;
	height:100%;
	position:absolute;
	left:10%;
	top:25%;
	font-family:Inter;
	text-align:left;
	font-size:120%;
	letter-spacing:0;
} */
.e2_32 { 
	width:90%;
	height:8%;
	position:absolute;
	left:5%;
	top:42%;
	background-color:rgba(255, 255, 255, 1);
	border-top-left-radius:60px;
	border-top-right-radius:60px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
	font-family:Inter;
	text-align:left;
	font-size:100%;
	padding-left: 8%;
}
/* .e1_2632 { 
	background-color:rgba(255, 255, 255, 1);
	width:100%;
	height:100%;
	position:absolute;
	left:0%;
	top:0%;
	border-top-left-radius:60px;
	border-top-right-radius:60px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
}
.e1_2642 { 
	color:rgba(0, 0, 0, 1);
	width:100%;
	height:100%;
	position:absolute;
	left:10%;
	top:25%;
	font-family:Inter;
	text-align:left;
	font-size:120%;
	letter-spacing:0;
} */
.e2_33 { 
	width:90%;
	height:8%;
	position:absolute;
	left:5%;
	top:52%;
	background-color:rgba(255, 255, 255, 1);
	border-top-left-radius:60px;
	border-top-right-radius:60px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
	font-family:Inter;
	text-align:left;
	font-size:100%;
	padding-left: 8%;
}
/* .e1_2633 { 
	background-color:rgba(255, 255, 255, 1);
	width:100%;
	height:100%;
	position:absolute;
	left:0%;
	top:0%;
	border-top-left-radius:60px;
	border-top-right-radius:60px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
}
.e1_2643 { 
	color:rgba(0, 0, 0, 1);
	width:100%;
	height:100%;
	position:absolute;
	left:10%;
	top:25%;
	font-family:Inter;
	text-align:left;
	font-size:120%;
	letter-spacing:0;
} */
.e2_34 { 
	width:90%;
	height:8%;
	position:absolute;
	left:5%;
	top:62%;
	background-color:rgba(255, 255, 255, 1);
	border-top-left-radius:60px;
	border-top-right-radius:60px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
	font-family:Inter;
	text-align:left;
	font-size:100%;
	padding-left: 8%;
}
/* .e1_2634 { 
	background-color:rgba(255, 255, 255, 1);
	width:100%;
	height:100%;
	position:absolute;
	left:0%;
	top:0%;
	border-top-left-radius:60px;
	border-top-right-radius:60px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
}
.e1_2644 { 
	color:rgba(0, 0, 0, 1);
	width:100%;
	height:100%;
	position:absolute;
	left:10%;
	top:25%;
	font-family:Inter;
	text-align:left;
	font-size:120%;
	letter-spacing:0;
} */
.e2_3 { 
	width:90%;
	height:8%;
	position:absolute;
	left:5%;
	top:2%;
	background-color:rgba(255, 255, 255, 1);
	border-top-left-radius:60px;
	border-top-right-radius:60px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
	font-family:Inter;
	text-align:left;
	font-size:100%;
	padding-left: 8%;
}
/* .e1_263 { 
	background-color:rgba(16.18099093437195, 71.84358090162277, 155.33750385046005, 1);
	width:100%;
	height:100%;
	position:absolute;
	left:0%;
	top:0%;
	border-top-left-radius:60px;
	border-top-right-radius:60px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
}
.e1_264 { 
	color:rgba(255, 255, 255, 1);
	width:100%;
	height:100%;
	position:absolute;
	left:10%;
	top:25%;
	font-family:Inter;
	text-align:left;
	font-size:120%;
	letter-spacing:0;
} */
.e2_7 { 
	width:100%;
	height:12.5%;
	position:absolute;
	left:0%;
	top:12.5%;
}
.e1_226 { 
	width:10%;
	height:100%;
	position:absolute;
	left:90%;
	top:0%;
}
.e1_219 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:100%;
	height:100%;
	position:absolute;
	border-style: solid;
  	border-width: 1px;
	left:0%;
	top:0%;
}
.e1_227 { 
	background-color:rgba(176.58749878406525, 44.88265961408615, 44.88265961408615, 1);
	width:60%;
	height:30%;
	position:absolute;
	left:22.5%;
	top:60%;
	border-top-left-radius:60px;
	border-top-right-radius:60px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
}
.e1_228 { 
	color:rgba(255, 255, 255, 1);
	width:100%;
	height:20%;
	position:absolute;
	left:0%;
	top:65%;
	font-family:Inter;
	text-align:center;
	font-size:100%;
	letter-spacing:0;
}
.e1_229 { 
	width:3vw;
	height:3vw;
	position:absolute;
	left:3.5vw;
	top:5%;
	background-image:url(/static/power_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_230 { 
	width:15%;
	height:100%;
	position:absolute;
	left:75%;
	top:0%;
}

.e1_231 { 
	background: #5E6D72;
	width:100%;
	height:100%;
	border-style: solid;
  	border-width: 1px;
	position:absolute;
	left:0%;
	top:0%;
}
.e1_232 { 
	color:rgba(0, 0, 0, 1);
	width:100%;
	height:20%;
	position:absolute;
	left:0%;
	top:70%;
	font-family:Inter;
	text-align:center;
	font-size:150%;
	letter-spacing:0;
}
.e1_233 { 
	width:4vw;
	height:4vw;
	position:absolute;
	left:5.5vw;
	top:5%;
	background-image:url(/static/wallet_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_234 { 
	width:15%;
	height:100%;
	position:absolute;
	left:45%;
	top:0%;
}
.e1_235 { 
	background: #5E6D72;
	width:100%;
	height:100%;
	border-style: solid;
  	border-width: 1px;
	position:absolute;
	left:0%;
	top:0%;
}
.e1_236 { 
	width:4vw;
	height:4vw;
	position:absolute;
	left:5.5vw;
	top:5%;
	background-image:url(/static/booking__1__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_237 { 
	color:rgba(0, 0, 0, 1);
	width:100%;
	height:20%;
	position:absolute;
	left:0%;
	top:70%;
	font-family:Inter;
	text-align:center;
	font-size:150%;
	letter-spacing:0;
}
.e1_238 { 
	width:15%;
	height:100%;
	position:absolute;
	left:60%;
	top:0%;
}
.e1_239 { 
	background: #5E6D72;
	width:100%;
	height:100%;
	border-style: solid;
  	border-width: 1px;
	position:absolute;
	left:0%;
	top:0%;
}
.e1_240 { 
	width:4vw;
	height:4vw;
	position:absolute;
	left:5.5vw;
	top:5%;
	background-image:url(/static/household_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_241 { 
	color:rgba(0, 0, 0, 1);
	width:100%;
	height:20%;
	position:absolute;
	left:0%;
	top:70%;
	font-family:Inter;
	text-align:center;
	font-size:150%;
	letter-spacing:0;
}
.e1_242 { 
	width:15%;
	height:100%;
	position:absolute;
	left:30%;
	top:0%;
}
.e1_243 { 
	background: #5E6D72;
	width:100%;
	height:100%;
	border-style: solid;
  	border-width: 1px;
	position:absolute;
	left:0%;
	top:0%;
}
.e1_244 { 
	width:4vw;
	height:4vw;
	position:absolute;
	left:5.5vw;
	top:5%;
	background-image:url(/static/main_display.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_245 { 
	color:rgba(0, 0, 0, 1);
	width:100%;
	height:20%;
	position:absolute;
	left:0%;
	top:70%;
	font-family:Inter;
	text-align:center;
	font-size:150%;
	letter-spacing:0;
}
.e1_246 { 
	width:15%;
	height:100%;
	position:absolute;
	left:15%;
	top:0%;
}
.e1_247 { 
	background-color:rgba(87.00000241398811, 200.00000327825546, 236.00000113248825, 1);
	width:100%;
	height:100%;
	border-style: solid;
  	border-width: 1px;
	position:absolute;
	left:0%;
	top:0%;
}
.e1_248 { 
	color:rgba(0, 0, 0, 1);
	width:100%;
	height:20%;
	position:absolute;
	left:0%;
	top:70%;
	font-family:Inter;
	text-align:center;
	font-size:150%;
	letter-spacing:0;
}
.e1_249 { 
	width:4vw;
	height:4vw;
	position:absolute;
	left:5.5vw;
	top:5%;
}
.e1_250 { 
	width:15%;
	height:98%;
	position:absolute;
	left:0%;
	{% comment %} top:0%; {% endcomment %}
	bottom:1.5%;
}
.e1_251 { 
	background-color:rgba(87.00000241398811, 200.00000327825546, 236.00000113248825, 1);
	width: 100%;
	height:100%;
	border-style: solid;
  	border-width: 1px;
	position:absolute;
	left:0%;
	top:0%;
}
.e1_252 { 
	color:rgba(0, 0, 0, 1);
	width:100%;
	height:20%;
	position:absolute;
	left:0%;
	top:70%;
	font-family:Inter;
	text-align:center;
	font-size:120%;
	letter-spacing:0;
}
.e1_272 { 
	width:4vw;
	height:4vw;
	position:absolute;
	left:5.5vw;
	top:5%;
	background-image:url(/static/home_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}

.e1_221 { 
	background-color:rgba(30.628332495689392, 181.93224638700485, 229.71249371767044, 0);
	width:100%;
	height:100%;
	position:absolute;
	left:0%;
	top:0%;
}
.e1_221 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e1_254 { 
	width:50%;
	height:12.5%;
	position:absolute;
	right:1%;
	top:0%;
}
.e1_255 { 
	color:rgba(0, 0, 0, 1);
	width:100%;
	height:100%;
	position:absolute;
	right:0%;
	top:55%;
	font-family:Inter;
	text-align:right;
	font-size:1.5vw;
	letter-spacing:0;
}
.e1_256 { 
	color:rgba(25.1684757694602, 0, 179.77499574422836, 0.7400000095367432);
	width:100%;
	height:100%;
	position:absolute;
	right:0%;
	top:15%;
	font-family:Inter;
	text-align:right;
	font-size:1.75vw;
	letter-spacing:0;
}
.e1_257 { 
	color:rgba(0, 0, 0, 1);
	width:100%;
	height:100%;
	position:absolute;
	right:0%;
	top:70%;
	font-family:Inter;
	text-align:right;
	font-size:1.5vw;
	letter-spacing:0;
}
.e1_258 { 
	width:35%;
	height:12.5%;
	position:absolute;
	left:0%;
	top:0%;
}
.e1_259 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:80%;
	height:100%;
	position:absolute;
	left:0%;
	top:0%;
}
.e1_260 { 
	width: 7vw;
    height: 100%;
    background: linear-gradient(to bottom left, #fff 0%, #fff 50%, rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1) 50%, rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1) 100%);
	position:absolute;
	left:80%;
	top:0%;
}
.e1_261 { 
	color:rgba(25.1684757694602, 0, 179.77499574422836, 1);
	width:80%;
	height:100%;
	position:absolute;
	left:35%;
	top:0;
	font-family:Inter;
	text-align:left;
	font-size: 2vw;
	letter-spacing:0;
}
.e1_262 { 
	transform: rotate(1.3784305949957189e-14deg);
	width:11vh;
	height:11vh;
	position:absolute;
	left:10%;
	top:5%;
	background-image:url(/static/logo_black_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
