.e1_61 {
  overflow: hidden;
}

.success{
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    font-size: 1.2em;
}

.error{
  text-align: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
    color: #000000;
    border-color: rgb(244, 157, 157);
    font-size: 1.2em;
    background-color: rgb(244, 157, 157);
}

.main_div {
  width:85%;
  height: 70%;
  top:25%;
  left:15%;
  overflow-y: auto;
  position: absolute;
}
.main_head{
  font-size: 24px;
  text-align: center;
  background-color: rgba(63, 154, 166, 0.62);
}
table{
  width:100%;
}
th {
  text-align: center;
  font-size: 24px;
  background-color: rgb(165, 235, 244);
  top: 0;
  position: sticky;
}
td {
  text-align: center;
  font-size: 20px;
}
table, th, td {
  border: none;
}
tr:nth-child(even) {
  background-color: #D6EEEE;
}
tr:nth-child(odd) {
  background-color:azure;
}
th:nth-child(odd) {
  z-index: 1;
}
th:nth-child(even) {
  z-index: 2;
}

.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
.rating>input {
  display: none
}

.rating>label {
  position: relative;
  width: 1em;
  font-size: 30px;
  font-weight: 300;
  color: #FFD600;
  cursor: pointer
}

.rating>label::before {
  content: "\2605";
  position: absolute;
  opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
  opacity: 1 !important
}

.rating>input:checked~label:before {
  opacity: 1
}

.rating:hover>input:checked~label:before {
  opacity: 0.4
}
