{%include "staff_base.html"%} {%load static%}
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>Html Generated</title>
    <meta name="description" content="Figma htmlGenerator" />
    <meta name="author" content="htmlGenerator" />
    <link
      href="https://fonts.googleapis.com/css?family=Inter&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{%static 'styles.css'%}" />

    <style>
      body {
        background: #e5e5e5;
      }
      .btn-sm{
        padding=10% 0;
      }
    </style>

  </head>

  <body>
    <div class="main_div">
     
        {% if messages %}
            {% for message in messages %}
            <div class="{{message.tags}}">
              {{message}}
            </div>
          {% endfor %}
   {% endif %}
    <table cellspacing="0" cellpadding="5em">
      <tr><th colspan = "6" style="font-size: 24px;text-align: center;background-color: rgba(
        62.92744293808937,
        153.59830677509308,
        165.96249371767044,
        0.6200000047683716
      );">Guestroom Booking Requests</th></tr>
      <tr>
        {% comment %} <th style="text-align: center;">Student</th> {% endcomment %}
        <th style="text-align: center;">Student</th>
        <th style="text-align: center;">Room No.</th>
        <th style="text-align: center;">Check in Date</th>
        <th style="text-align: center;">Check out Date</th>
        <th style="text-align: center;">Choose action</th>
        <th style="text-align: center;">Validate</th>
      </tr>
      {% for item in query_results_request %}
      <tr>
        <form action="booking_manager" method="post" id='manager_action'>
            {% csrf_token %}
            <td> {{item.username}}
            <input type="hidden" name="username" value="{{item.username}}">
            </td>
            <td> {{item.room}}
            <input type="hidden" name="room" value="{{item.room}}">
            </td>
            <td> {{item.checkin_date}}
            </td>
            <td> {{item.checkout_date}}
            </td>
            <td><select class="form-select" aria-label="Default select example" form = 'manager_action' name = 'action' required>
              {% comment %} <option selected>Select a sport</option> {% endcomment %}
              <option value="approve">Approve</option>
              <option value="reject">Reject</option>
            </select</td>
            <td><input type="submit" ></input></td>
      </form>
      </tr>
      {% endfor %}
      
    </table>
    <table cellspacing="0" cellpadding="5em">
      <tr><th colspan = "4" style="font-size: 24px;text-align: center;background-color: rgba(
        62.92744293808937,
        153.59830677509308,
        165.96249371767044,
        0.6200000047683716
      );">Approved Booking Requests</th></tr>
      <tr>
        {% comment %} <th style="text-align: center;">Student</th> {% endcomment %}
        <th style="text-align: center;">Student</th>
        <th style="text-align: center;">Room No.</th>
        <th style="text-align: center;">Check in Date</th>
        <th style="text-align: center;">Check out Date</th>
        {% comment %} <th style="text-align: center;">Choose action</th>
        <th style="text-align: center;">Validate</th> {% endcomment %}
      </tr>
      {% for item in query_results_approved %}
      <tr>
        <form action="booking_manager" method="post" id='manager_action'>
            {% csrf_token %}
            <td> {{item.username}}
            <input type="hidden" name="username" value="{{item.username}}">
            </td>
            <td> {{item.room}}
            <input type="hidden" name="room" value="{{item.room}}">
            </td>
            <td> {{item.checkin_date}}
            </td>
            <td> {{item.checkout_date}}
            </td>
            {% comment %} <td><select class="form-select" aria-label="Default select example" form = 'manager_action' name = 'action' required>
              {% comment %} <option selected>Select a sport</option> {% endcomment %}
              {% comment %} <option value="approve">Approve</option>
              <option value="reject">Reject</option>
            </select</td>
            <td><input type="submit" ></input></td>
      </form>  {% endcomment %}
      </tr>
      {% endfor %}
      
    </table>
  </div>

      </div>
    </div>
  </body> 
</html>
