{%include "staff_base.html"%} {%load static%}
<html lang="en">
  <head>

    <title>Equipment Booking Log</title>
    <link
      href="https://fonts.googleapis.com/css?family=Inter&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{%static 'styles.css'%}" />

    <style>
      body {
        background: #e5e5e5;
      }
    
    </style>

  </head>

  <body>
    <div class="main_div">
      {% if messages %}
          {% for message in messages %}
          <div class="{{message.tags}}">
            {{message}}
          </div>
        {% endfor %}
      {% endif %}
    <table cellspacing="0" cellpadding="5em">
      <tr><th colspan = "3" style="font-size: 24px;text-align: center;background-color: rgba(
        62.92744293808937,
        153.59830677509308,
        165.96249371767044,
        0.6200000047683716
      );">Add Equipments</th></tr>
      <tr>
        <th style="text-align: center;">Sports</th>
        <th style="text-align: center;">Student Name</th>
        <th style="text-align: center;" >Status</th>

      </tr>
        {% for item in querry %}
        <tr>
        <td style="text-align: center;">{{item.equipment_selected}}</td>
        <td style="text-align: center;">{{item.username}}</td>
        <td style="text-align: center;">Booked</td>
      </tr>
        {% endfor %}
    </table>
  </div>

      </div>
    </div>
  </body> 
</html>
