{%include "student_base.html"%} {%load static%}
<html lang="en">
  <head>
    <title>Student Sports Equipment</title>
    <link
      href="https://fonts.googleapis.com/css?family=Inter&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{%static 'styles.css'%}" />

    <style>
      body {
        background: #e5e5e5;
      }
    
    </style>

  </head>

  <body>
    <div class="main_div">
      {% if messages %}
          {% for message in messages %}
          <div class="{{message.tags}}">
            {{message}}
          </div>
        {% endfor %}
      {% endif %}
    <table cellspacing="0" cellpadding="5em">
      <tr><th colspan = "4" style="font-size: 24px;text-align: center;background-color: rgba(
        62.92744293808937,
        153.59830677509308,
        165.96249371767044,
        0.6200000047683716
      );">Sports Equipments</th></tr>
      <tr>
        <th style="text-align: center;">Equipment</th>
        <th style="text-align: center;">Available Quantity</th>
        <th style="text-align: center;">Book Status</th>
      </tr>

      <!--Cricket Bat-->
      <tr>
        
        <td>Cricket Bat
        </td>
          {% if cricket_item.quantity > 0 %}
          <form method='post' action='sports_equipments'>
            {% csrf_token %}
            <input type='hidden' name='equipment_selected' value='CB' required></input>
          <td>{{cricket_item.quantity}}</td>
          <td><input type='submit' name='submit'  value="Request Booking" required></input></td>
        </form>
          {% else %}
          <td><font color='grey'><i>Not available</i></font></td>
          <td><button type='submit' name='submit'  value="Item is booked" ></button></td>
          {% endif %}
      
      </tr>

      <!--Basketball-->
      <tr>
        <td>Basketball
            
        </td>
          {% if basketball_item.quantity > 0 %}
          <form method='post' action='sports_equipments'>
            {% csrf_token %}
            <input type='hidden' name='equipment_selected' value='BB' required></input>
          <td>{{basketball_item.quantity}}</td>
          <td><input type='submit' name='submit'  value="Request Booking" required></input></td>
        </form>
          {% else %}
          
          <td><font color='grey'><i>Not available</i></font></td>
          <td><button type='submit' name='submit'  value="Item is booked" ></button></td>
          {% endif %}
        
      </tr>

      <!--Hockey-->
      <tr>
        
        <td>Hockey
        </td>
          {% if hockey_item.quantity > 0 %}
          <form method='post' action='sports_equipments'>
            {% csrf_token %}
            <input type='hidden' name='equipment_selected' value='HK'required></input>
          <td>{{hockey_item.quantity}}</td>
          <td><input type='submit' name='submit'  value="Request Booking" required></input></td>
        </form>
          {% else %}
          <td><font color='grey'><i>Not available</i></font></td>
          <td><button type='submit' name='submit'  value="Item is booked"></button></td>
          {% endif %}
        
      </tr>

      <!--Table Tennis-->
      <tr>
        <td>Table Tennis
        </td>
          {% if table_tennis_item.quantity > 0 %}
          <form method='post' action='sports_equipments'>
            {% csrf_token %}
            <input type='hidden' name='equipment_selected' value='TT' required></input>
          <td>{{table_tennis_item.quantity}}</td>
          <td><input type='submit' name='submit'  value="Request Booking" required></input></td>
        </form>
          {% else %}
          <td><font color='grey'><i>Not available</i></font></td>
          <td><button type='submit' name='submit'  value="Item is booked"></button></td>
          {% endif %}
    
      </tr>

      <!--Football-->
      <tr>
        <td>Football
        </td> 
          {% if football_item.quantity > 0 %}
          <form method='post' action='sports_equipments'>
            {% csrf_token %}
            <input type='hidden' name='equipment_selected' value='FB' required></input>
            <td>{{football_item.quantity}}</td>
            <td><input type='submit' name='submit'  value="Request Booking" required></input></td>
          </form>
          {% else %}
          <td><font color='grey'><i>Not available</i></font></td>
          <td><button type='submit' name='submit'  value="Item is booked"></button></td>
          {% endif %}
    
  </tr>
  <tr>
    <td>Badminton
    </td> 
      {% if badminton_item.quantity > 0 %}
      <form method='post' action='sports_equipments'>
        {% csrf_token %}
        <input type='hidden' name='equipment_selected' value='BM' required></input>
        <td>{{badminton_item.quantity}}</td>
        <td><input type='submit' name='submit'  value="Request Booking" required></input></td>
      </form>
          {% else %}
        
          <td><font color='grey'><i>Not available</i></font></td>
          <td><button type='submit' name='submit'  value="Item is booked" required></button></td>
          {% endif %}

  </tr>

    </table>
    <p><br></p>
    <div class="container">
      <div class="row" align="center">
        <div class="col-md-6">
          
          <button type="button"><a href={% url 'sports_equipments_pb' %}>Check Your Previous Requests</a></button>
          
        </div>
      </div>
    </div>
  
    {% comment %} <table cellspacing="0" cellpadding="5em">
      <tr><th colspan = "3" style="font-size: 24px;text-align: center;background-color: rgba(
        62.92744293808937,
        153.59830677509308,
        165.96249371767044,
        0.6200000047683716
      );">Pending Equipment Requests</th></tr>
      <tr>
        <th style="text-align: center;">Equipment Requested</th>
        <th style="text-align: center;">Book Status</th>
      </tr>

      <!--Fetching pending status-->
      {% for item in request_querry %}
      <tr>
      <td> {% if item.equipment_selected == 'CB' %}
            Cricket Bat
        {% else %}
        {% if item.equipment_selected == 'BB' %}
            Basketball
        {% else %}
        {% if item.equipment_selected == 'TT' %}
            Table Tennis
        {% else %}
        {% if item.equipment_selected == 'FB' %}
            Football
        {% else %}
        {% if item.equipment_selected == 'HK' %}
            Hockey
        {% else %}
        {% if item.equipment_selected == 'BM' %}
            Badminton
          {% endif %}
          {% endif %}
          {% endif %} 
          {% endif %}
          {% endif %}
          {% endif %}</td>
      <td><font color='grey'><i>Pending...</i></font></td>
      </tr>
      {% endfor %}
    </table>
   
    <table cellspacing="0" cellpadding="5em">
      <tr><th colspan = "3" style="font-size: 24px;text-align: center;background-color: rgba(
        62.92744293808937,
        153.59830677509308,
        165.96249371767044,
        0.6200000047683716
      );">Items you issued</th></tr>
      <tr>
        <th style="text-align: center;">Equipment Requested</th>
        <th style="text-align: center;">Initiate Return</th>
      </tr>

      <!--Fetching pending status-->
      {% for item in validated_request_querry %}
      <form method='post' action='sports_equipments'>
        {% csrf_token %}
      <tr>
      <td> {% if item.equipment_selected == 'CB' %}
            Cricket Bat
            <input type='hidden' name='return_equipment' value='CB'></input>
        {% else %}
        {% if item.equipment_selected == 'BB' %}
            Basketball
            <input type='hidden' name='return_equipment' value='BB'></input>
        {% else %}
        {% if item.equipment_selected == 'TT' %}
            Table Tennis
            <input type='hidden' name='return_equipment' value='TT'></input>
        {% else %}
        {% if item.equipment_selected == 'FB' %}
            Football
            <input type='hidden' name='return_equipment' value='FB'></input>
        {% else %}
        {% if item.equipment_selected == 'HK' %}
            Hockey
            <input type='hidden' name='return_equipment' value='HK'></input>
        {% else %}
        {% if item.equipment_selected == 'BM' %}
            Badminton
            <input type='hidden' name='return_equipment' value='BM'></input>
          {% endif %}
          {% endif %}
          {% endif %} 
          {% endif %}
          {% endif %}
          {% endif %}</td>
      <td><input type='submit' name='submit' value="Return Item"></input></td> <!--"Return item"-->
      </tr>
    </form>
      {% endfor %}
    </table> {% endcomment %}
  </div>

      </div>
    </div>
  </body> 
</html>
