{%include "student_base.html"%} {%load static%}
<html lang="en">
  <head>
    <title>Student Bills</title>
    <link rel="stylesheet" href="{%static 'styles.css'%}" />

    <style>
      body {
        background: #e5e5e5;
      }
    </style>
  </head>

  <body>
    <div class="main_div">
      {% if messages %} {% for message in messages %}
      <div class="{{message.tags}}">{{message}}</div>
      {% endfor %} {% endif %}

      <table cellspacing="0" cellpadding="5em">
        <tr>
          <th colspan="7" class="main_head">Canteen Bill</th>
        </tr>
        <tr>
          <td colsapn="4">Your Canteen bill is Rs. {{bill}}</td>
          <td>
            <a href="https://www.onlinesbi.sbi/sbicollect/icollecthome.htm"
              ><button>Make Payment</button>
            </a>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
