{%include "student_base.html"%}
{%load static%}
<html lang="en">

<head>

  <title>Mess Bills</title>

  <link rel="stylesheet" href="{%static 'styles.css'%}">

  <style>
    body {
      background: #E5E5E5;
    }
  </style>

</head>

<body>
  <div class="main_div">
    {% if messages %}
    {% for message in messages %}
    <div class="{{message.tags}}">
      {{message}}
    </div>
    {% endfor %}
    {% endif %}
    <table cellspacing="0" cellpadding="5em">
      <form method="POST" action="Students_Pending_Bills">
        {% csrf_token %}
        <tr>
          <th colspan="6" class="main_head">Mess Bills</th>
        </tr>
      </form>

      <tr>
        <th>S. No.</th>
        <th>Year</th>
        <th>Month</th>
        <th>Basic Amount</th>
        <th>Extra Messing</th>
        <th>Rebate Days</th>
        <th>Dues</th>
      </tr>

      {% for bill in bills %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td class="f">{{bill.Year}}</td>
        <td class="a">{{bill.Month_Name}}</td>
        <td class="b">{{bill.Basic_Amount}}</td>
        <td class="c">{{bill.Extras_Amount}}</td>
        <td class="d">{{bill.rebate_days}}</td>
        <td class="e">{{bill.Mess_Bill | floatformat:2}}</td>
      </tr>

      {% endfor %}
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://www.onlinesbi.sbi/sbicollect/icollecthome.htm"><button>Make Payment</button></a>
      </td>
    </table>
  </div>


</body>
</div>
</body>

</html>