{%include "staff_base.html"%}
{%load static%}
<html lang="en">
<head>
  <title>Menu</title>
  <link rel="stylesheet" href="{%static 'styles.css'%}">
  <style>
    body {background: #E5E5E5; }
  </style>
</head>

<body>
  <div class='main_div'>
    {% if messages %}
        {% for message in messages %}
        <div class="{{message.tags}}">
          {{message}}
        </div>
      {% endfor %}
    {% endif %}
    
    <table cellspacing="0" cellpadding="5em">
    <form method="POST" action="Manager_Modify_Menu">
      {% csrf_token %} {% if status_check%}
      <tr>
        <th colspan="3" class="main_head">Modify/Update Menu</th>
        <th class="main_head">
          <button type="submit" name="submit">Submit</button>
        </th>
        <th class="main_head">
          <button type="submit" name="add_hidden_item">
            <input type="hidden" name="editable_mode" />Add New Item
          </button>
        </th>
      </tr>
      <tr>
        <th>S. No.</th>
        <th>Day</th>
        <th>Meal</th>
        <th>Menu</th>
        <th>Delete</th>
      </tr>

      {% for items in regularmenu %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>
          <select
            name="day{{items.id}}"
            value="{{items.Day}}"
            class = "a"
          >
          {% if items.Day == "Monday" %}
            <option selected name = "a1">Monday</option>
            <option name = "a2">Tuesday</option>
            <option name = "a3">Wednesday</option>
            <option name = "a4">Thursday</option>
            <option name = "a5">Friday</option>
            <option name = "a6">Saturday</option>
            <option name = "a0">Sunday</option>
          {% elif items.Day == "Tuesday" %}
          <option name = "a1">Monday</option>
          <option selected name = "a2">Tuesday</option>
          <option name = "a3">Wednesday</option>
          <option name = "a4">Thursday</option>
          <option name = "a5">Friday</option>
          <option name = "a6">Saturday</option>
          <option name = "a0">Sunday</option>
          {% elif items.Day == "Wednesday" %}
          <option name = "a1">Monday</option>
          <option name = "a2">Tuesday</option>
          <option selected name = "a3">Wednesday</option>
          <option name = "a4">Thursday</option>
          <option name = "a5">Friday</option>
          <option name = "a6">Saturday</option>
          <option name = "a0">Sunday</option>
          {% elif items.Day == "Thursday" %}
          <option name = "a1">Monday</option>
          <option name = "a2">Tuesday</option>
          <option name = "a3">Wednesday</option>
          <option selected name = "a4">Thursday</option>
          <option name = "a5">Friday</option>
          <option name = "a6">Saturday</option>
          <option name = "a0">Sunday</option>
          {% elif items.Day == "Friday" %}
          <option name = "a1">Monday</option>
          <option name = "a2">Tuesday</option>
          <option name = "a3">Wednesday</option>
          <option name = "a4">Thursday</option>
          <option selected name = "a5">Friday</option>
          <option name = "a6">Saturday</option>
          <option name = "a0">Sunday</option>
          {% elif items.Day == "Saturday" %}
          <option name = "a1">Monday</option>
          <option name = "a2">Tuesday</option>
          <option name = "a3">Wednesday</option>
          <option name = "a4">Thursday</option>
          <option name = "a5">Friday</option>
          <option selected name = "a6">Saturday</option>
          <option name = "a0">Sunday</option>
          {% else %}
          <option name = "a1">Monday</option>
          <option name = "a2">Tuesday</option>
          <option name = "a3">Wednesday</option>
          <option name = "a4">Thursday</option>
          <option name = "a5">Friday</option>
          <option name = "a6">Saturday</option>
          <option selected name = "a0">Sunday</option>
            {% endif %}
          </select>
        </td>
        <td>
          <select
            name="meal{{items.id}}"
            value="{{items.Meal}}"
            class = "b"
          >
          {% if items.Meal == "Dinner" %}
          <option name = "b0">Breakfast</option>
          <option name = "b1">Lunch</option>
          <option name = "b2" selected>Dinner</option>
        {% elif items.Meal == "Lunch" %}
        <option name = "b0">Breakfast</option>
          <option name = "b1" selected>Lunch</option>
          <option name = "b2">Dinner</option>
        {% else %}
        <option name = "b0" selected>Breakfast</option>
          <option name = "b1">Lunch</option>
          <option name = "b2">Dinner</option>
          {% endif %}
        </select>
        </td>
        <td>
          <input
            required
            class = "c"
            type="text"
            name="item{{items.id}}"
            value="{{items.Items}}"
            placeholder="Enter New Item"
            style="text-align: center"
            {% if forloop.last%}
            autofocus
            {% endif %}
          />
        </td>
        <td>
          <button type="submit" name="delete" value="{{items.id}}">
            <input type="hidden" name="editable_mode" />Delete
          </button>
        </td>
      </tr>
      {% endfor %} 
      {% else %}
      <tr>
        <th colspan="3" class="main_head">Modify/Update Menu</th>
        <th class="main_head">

          {% if regularmenu %}<button type="submit" name="edit">Edit</button>{% endif %}
        </th>
        <th class="main_head">
          <button type="submit" name="add_hidden_item">Add New Item</button>
        </th>
      </tr>
      <tr>
        <th>S. No.</th>
        <th>Day</th>
        <th>Meal</th>
        <th>Menu</th>
        <th>Delete</th>
      </tr>
      {% for items in regularmenu %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{items.Day}}</td>
        <td>{{items.Meal}}</td>
        <td>{{items.Items}}</td>
        <td>
          <button type="submit" name="delete" value="{{items.id}}">
            Delete
          </button>
        </td>
      </tr>
      {% endfor %} 
      {% endif %}
    </form>
    </table>
  </div>
</body>
</html>