{%include "staff_base.html"%} {%load static%}
<html lang="en">
  <head>
    <title>View Orders</title>
    <link rel="stylesheet" href="{%static 'styles.css'%}" />

    <style>
      body {
        background: #e5e5e5;
      }
    </style>
  </head>

  <body>
    <div class="main_div">
      {% if messages %}
          {% for message in messages %}
          <div class="{{message.tags}}">
            {{message}}
          </div>
        {% endfor %}
      {% endif %}
      <table cellspacing="0" cellpadding="5em">
        <tr><th colspan = "6" class="main_head">Current Orders</th></tr>
        <tr>
          <th>S. No.</th>
          <th>Date</th>
          <th>Username</th>
          <th>Meal</th>
          <th>Item</th>
          <th>Quantity</th>
        </tr>
        {% for items in orders%}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{items.Meal_Date}}</td>
          <td>{{items.User_Name}}</td>          
          <td>{{items.Meal}}</td>
          <td>{{items.Item_Name}}</td>
          <td>{{items.Quantity}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </body>
</html>
