{%include "staff_base.html"%} {%load static%}
<html lang="en">
  <head>
    <title>BDMR</title>
    <link rel="stylesheet" href="{%static 'styles.css'%}" />

    <style>
      body {
        background: #e5e5e5;
      }
    </style>
  </head>

  <body>
    <div class="main_div">
      {% if messages %}
          {% for message in messages %}
          <div class="{{message.tags}}">
            {{message}}
          </div>
        {% endfor %}
      {% endif %}
      <table cellspacing="0" cellpadding="5em">
        <form method="post" action="Manager_Modify_BDMR">
          {% csrf_token %}
          <tr>
            <th colspan="4" class="main_head">Enter or Modify BDMR</th>
          </tr>
          <tr>
            <td>Enter Date</td>
            <td>
              <input onchange="this.form.submit();" type="date" placeholder="dd-mm-yyyy" name="BDMR_Date" value = "{{date|date:"Y-m-d"}}" required />
            </td>
          </tr>
          {% if date %}
          <tr>
            <td>Enter BDMR</td>
            <td>
              <input type="number" step = "any" min="0" max="500" placeholder="BDMR = Rs. {{amount}}" name="BDMR" required />
              <button type="submit" name="bdmr_submit" value="{{date|date:"Y-m-d"}}">Submit</button>
            </td>
          </tr>
          {% endif %}
        </form>
      </table>
    </div>
  </body>
</html>
