{%include "staff_base.html"%}
{%load static%}
<html lang="en">
<head>

  <title>Student Pending Bill</title>

  <link rel="stylesheet" href="{%static 'styles.css'%}">
  
  <style>
    body {background: #E5E5E5; }
  </style>

</head>

<body>
  <div class="main_div">
    {% if messages %}
        {% for message in messages %}
        <div class="{{message.tags}}">
          {{message}}
        </div>
      {% endfor %}
    {% endif %}
      <table cellspacing="0" cellpadding="5em">
        <form method="POST" action ="Students_Pending_Bills">
          {% csrf_token %}
        <tr>
        <th colspan = "9" class="main_head">Students' Pending Bills</th>
        </tr>
        </form>

        <tr>
          <th>S. No.</th>
          <th>Username</th>
          <th>Month</th>
          <th>Year</th>
          <th>Basic Amount</th>
          <th>Extra Messing</th>
          <th>Rebate Days</th>
          <th>Dues</th>
          <th>Clear Dues</th>
        </tr>

        {% for bill in bills %}
        <tr>
          <form method="POST" action="Manager_Students_Bills">
            {%csrf_token%}
          <td>{{ forloop.counter }}</td>
          <td class="a">{{bill.User_Name}}</td>
          <td class="b">{{bill.Month_Name}}</td>
          <td class="c">{{bill.Year}}</td>
          <td class="d">{{bill.Basic_Amount}}</td>
          <td class="e">{{bill.Extras_Amount}}</td>
          <td class="f">{{bill.rebate_days}}</td>
          <td class="g">{{bill.Mess_Bill  | floatformat:2}}</td>
          <td><button type="submit" name = "clear_dues" value = "{{bill.id}}">Clear Dues</button></td>
        </form>
        </tr>
        
        {% endfor %}
      </table>
    </div>
    

    </body>
  </div>
</body>
</html>