{%include "student_base.html"%} {%load static%}
<html lang="en">

<head>

  <title>Regular Menu</title>
  <link rel="stylesheet" href="{%static 'styles.css'%}" />

  <style>
    body {
      background: #e5e5e5;
    }
  </style>
</head>

<body>
  <div class="main_div">
    {% if messages %}
    {% for message in messages %}
    <div class="{{message.tags}}">
      {{message}}
    </div>
    {% endfor %}
    {% endif %}
    <table cellspacing="0" cellpadding="5em">
      <tr>
        <th colspan="6" class="main_head">Regular Menu</th>
      </tr>
      <tr>
        <th>S. No.</th>
        <th>Day</th>
        <th>Meal</th>
        <th>Items</th>
        <th>Average Rating</th>
        <th>Please Rate</th>
      </tr>
      {%for item in menu%}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td class = "f">{{item.Day}}</td>
        <td class = "g">{{item.Meal}}</td>
        <td class = "h">{{item.Items}}</td>
          <td class = "i">
            {%if item.Rating%}
             ☆ {{item.Rating  | floatformat:2}}
            {% else %} 
            Be the first one to rate
            {% endif %}
          </td>
        <form method="POST" action="Student_Regular_Menu">
          {% csrf_token %}
          <td>
            <div class="rating">
              <input onchange="this.form.submit();" type="radio" name="rating{{item.id}}" value="5"
                id="5_{{item.id}}"><label class = "a" for="5_{{item.id}}">☆</label>
              <input onchange="this.form.submit();"  type="radio" name="rating{{item.id}}" value="4"
                id="4_{{item.id}}"><label class = "b" for="4_{{item.id}}">☆</label>
              <input onchange="this.form.submit();" type="radio" name="rating{{item.id}}" value="3"
                id="3_{{item.id}}"><label class = "c"for="3_{{item.id}}">☆</label>
              <input onchange="this.form.submit();" type="radio" name="rating{{item.id}}" value="2"
                id="2_{{item.id}}"><label class = "d"for="2_{{item.id}}">☆</label>
              <input onchange="this.form.submit();" type="radio" name="rating{{item.id}}" value="1"
                id="1_{{item.id}}"><label class = "e"for="1_{{item.id}}">☆</label>
            </div>
          </td>
        </form>
      </tr>
      {% endfor %}
    </table>
  </div>
</body>

</html>