{%include "student_base.html"%} {%load static%}
<html lang="en">

<head>
  <title>Pending Order</title>
  <link rel="stylesheet" href="{%static 'styles.css'%}" />

  <style>
    body {
      background: #e5e5e5;
    }
  </style>
</head>

<body>
  <div class="main_div">
    {% if messages %}
        {% for message in messages %}
        <div class="{{message.tags}}">
          {{message}}
        </div>
      {% endfor %}
    {% endif %}
    
    <table cellspacing="0" cellpadding="5em">
      <tr>
        <th colspan="6" class="main_head">Pending Orders' Status</th>
      </tr>
      <tr>
        <th>S. No.</th>
        <th>Item</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Amount</th>
        <th>Status</th>
      </tr>
      {% for item in ordering reversed%}
      <form method="POST" action="Booked_Extras">
        {% csrf_token %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{item.Item_Name}}</td>
          <td>{{item.Price}}</td>
          <td>{{item.Quantity}}</td>
          <td>{{item.Amount}}</td>
          {% if item.Cart_Status == False %}
          {% if item.History_Status == False %}
          {% if item.Processing_Status == True %}
          <td>Processing</td>
          {% else %}
          {% if item.Accepted_Status == True %}
          {% if item.Served_Status == False %}
          {% if item.Payment_Status == False %}
          <td>Accepted</td>
          {% else %}
          <td>Paid</td>
          {% endif %}
          {% else %}
          <td>Served</td>
          {% endif %}
          {% endif %}
          {% endif %}
          {% endif %}
          {% endif %}
        </tr>
      </form>
      {% endfor %}
    </table>
  </div>
</body>

</html>