{%include "student_base.html"%} {%load static%}
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>Cart</title>
    <link rel="stylesheet" href="{%static 'styles.css'%}" />

    <style>
      body {
        background: #e5e5e5;
      }
    </style>
  </head>

  <body>
    <div class="main_div">
      {% if messages %}
          {% for message in messages %}
          <div class="{{message.tags}}">
            {{message}}
          </div>
        {% endfor %}
      {% endif %}
      
      <table cellspacing="0" cellpadding="5em">
        <tr>
          <th colspan = "6" class="main_head">Customise Your Cart Here</th>
        </tr>
        <tr>
          <th>S. No.</th>
          <th>Item</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Amount</th>
          <th>Remove</th>
        </tr>
        {% for item in carting reversed%}
        <form method="POST" action="Student_Cart">
          {% csrf_token %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td class="a">{{item.Item_Name}}</td>
          <td class="b">{{item.Price}}</td>
          <td class="c">{{item.Quantity}}</td>
          <td class="d">{{item.Amount}}</td>
          <td class="e"><button type = "submit" name = "order_validation1" value = "{{item.id}}">Remove</button></td>
        </tr>
        </form>
        {% endfor %}
        <form method="POST" action="Student_Cart">
          {% csrf_token %}
        <tr>
          <td colspan = "5" >Total Amount = {{bill}}</td>
          <td><button type = "submit" name = "order_validation2" >Book</button></td>
        </tr>
        </form>
      </table>
    </div>
  </body>
</html>
