{%include "student_base.html"%} {%load static%}
<html lang="en">
  <head>
    <title>Pending Requests</title>
  </head>

  <body>
    <div class="main_div">
      {% if messages %}
    {% for message in messages %}
    <div class="{{message.tags}}">
      {{message}}
    </div>
    {% endfor %}
    {% endif %}
    <table cellspacing="0" cellpadding="5em">
      <tr><th colspan = "4" style="font-size: 24px;text-align: center;background-color: rgba(
        62.92744293808937,
        153.59830677509308,
        165.96249371767044,
        0.6200000047683716
      );">Pending requests</th></tr>
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Place</th>
        <th>Status</th>
      </tr>
      {% for i in lodging reversed %}
      <tr>
      <form method="post" action="Pending_Request">
        {% csrf_token %}
      <td>{{i.Cleaning_DateTime.date}}</td>
      <td>{{i.Cleaning_DateTime.time}}</td>
      <td>{{i.Place}}</td>
      <td><button type="submit" name = "identity" value = {{i.id}}>Done</button></td>
    </form>
    </tr>
      {% endfor %}
    </table>
  </div>
      </div>
    </div>
  </body> 
</html>
